.container {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  background: white;
  overflow: auto;
  width: 100%;
}

.top-left {
  background-color: white;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  z-index: 1;
}

.profile-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-icon {
  border: 1px solid #185090;
  background-color: #4a90e2;
  border-radius: 50%;
  padding: 0.2rem;
}

.custom-icon :hover {
  border: 1px solid #000000;
  background-color: #0f4889;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}

.profile-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-menu {
  width: auto;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.username {
  font-weight: bold;
  margin-bottom: 8px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar lightning-input {
  margin-right: 10px;
  width: 350px;
}

.search-bar lightning-button {
  font-weight: normal;
  font-size: 18px;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #4a90e2;
  color: #ffffff;
}

.filter-options lightning-combobox {
  width: 350px;
}

.slds-grid.justify-center {
  justify-content: center;
}

.header {
  background-color: #333;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  margin: 30px;
  padding: 1rem;
  max-width: 350px;
}

.card-image {
  background-size: cover;
  border: 0.8px solid rgba(255, 253, 253, 0.9);
  border-radius: 4px;
  height: 330px;
  width: auto;
  max-width: 100%;
}

.card-text {
  color: #333;
  margin: 1rem;
}

.card-text p {
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0rem 1rem 1rem 1rem;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.my-button {
  background-color: #50c5ef;
  color: #fff;
}

.registration-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.registration-form-overlay.show {
  display: flex;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
}

.pagination-buttons lightning-button {
  margin: 0 5px;
}

.pagination-footer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
}

.pagination-footer p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.pagination-footer p:not(:last-child) {
  margin-right: 10px;
}

.pagination-footer {
  border-top: 1px solid black; 
}